:root {
    --cor1: #023059; /* Azul escuro */
    --cor2: #03658C; /* Azul médio */
    --cor3: #F29F05; /* Laranja claro */
    --cor4: #F28705; /* Laranja escuro */
    --cor5: #F23005; /* Vermelho */
}