@import url(footer.css);
@import url(header.css);
@import url(reset.css);
@import url(styles.css);

:root {
    --headerColor: rgb(202, 173, 137);
    --backColor: #f5e9d4;
    --bodyFontColor: #3c2f2f;
    --secondaryColor: #5c4b3d;
    --accentColor: #d4a373;
    --linkSize: 1.2rem;
    --linkSizeMobile: 1rem;
    --fontFamily: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

@media (max-width: 768px) {
    #home h1 {
        font-size: 2rem;
    }

    #home p {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .menu-item {
        width: 100%;
        margin: 1rem 0;
    }

    #sobre p, #menu p, #local p {
        font-size: 1.125rem;
        padding: 0 0.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}