@import url(global.css);

main {
    background-color: var(--backColor);
}

#top {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1447933601403-0c6688de566e');
    ;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    position: relative;
    height: 100vh;
    margin-top: -60px;

    img {
        background-color: var(--accentColor);
        margin-bottom: 15px;
        border-radius: 30%;
        position: static;
        height: 200px;
    }

    h1 {
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 20px;
        margin-top: 5px;
    }

    a {
        background-color: var(--backColor);
        border-radius: 10px;
        padding: 10px;
        margin-top: 15px;

        font-size: 18px;

        text-decoration: none;
        color: var(--bodyFontColor);
    }

    a:hover {
        color: var(--backColor);
        background-color: var(--bodyFontColor);
        border-color: var(--backColor);
        transition: .5;
    }
}

#sobre {
    background-color: var(--accentColor);
    color: var(--bodyFontColor);
    height: 50vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    font-family: "Quicksand", sans-serif;

    h2 {
        margin-top: 100px;
        margin-bottom: 100px;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 22px;
        padding-inline: 100px;
        justify-content: center;
    }
}

#menu {
    background-color: var(--backColor);
    color: var(--bodyFontColor);
    height: 70vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    font-family: "Quicksand", sans-serif;

    h2 {
        margin-top: 100px;
        margin-bottom: 100px;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 22px;
        padding-inline: 100px;
        justify-content: center;
        margin-bottom: 15px;
    }
}

.menu-item {

    background-color: var(--accentColor);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#local {
    background-color: var(--bodyFontColor);
    color: var(--backColor);
    height: 50vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    font-family: "Quicksand", sans-serif;

    h2 {
        margin-top: 100px;
        margin-bottom: 100px;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 22px;
        padding-inline: 100px;
        justify-content: center;
    }
}

footer{
    background-color: var(--accentColor);
    color: var(--bodyFontColor);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--backColor);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.up {
    text-decoration: none;
    color: var(--bodyFontColor);
    padding: 15px;
}

#back-to-top:hover,
.up::before {
    color: var(--backColor);
    background-color: rgb(179, 165, 148);
    transform: scale(1.1);
}
